$primary: rgb(75, 75, 75);
$secundary:rgb(2, 32, 21);
$terceiro: white;
*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    background-color: $primary;
    color: white;
    box-shadow:100PX;
    box-sizing: 300px;
}
.center{
    text-align: center;
}
.capas{
    text-align: center;
    background-color: $secundary;
    color: $terceiro;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
@media screen and (max-width: 390px){

}
@media (min-width: 390px){
    
}